# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment files
.env

*.mp3

# venv/
# env/
debug/
audio_assests/
runtime_logs/
video_assests/
downloaded_images/
*.mp4
*.log
*.txt
*.db
*.mp4.jpg
image_assests/thumbnails/*